<div class="columns__chat-preview chat-preview">
    <div class="chat-preview__top-line">
        <div class="chat-preview__main-info">
            <div class="chat-preview__ava">
                <img src="images/ava.jpg" alt="">
            </div>
            <div>
                <div class="chat-preview__name">Luy Robin</div>
                <div class="chat-preview__status"><span class="audio-animation"></span> records voice message</div>
            </div>
        </div>
        <div class="chat-preview__last-mes">1 minute ago</div>
    </div>
    <div class="chat-preview__mes-line">
        <div class="chat-preview__message">Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes).</div>
        <div class="chat-preview__new-num">1</div>
    </div>	
    <div class="chat-preview__attachments">
        <div class="chat-preview__attachment chat-preview__attachment_files">Files (x2)</div>
        <div class="chat-preview__attachment chat-preview__attachment_photo">Photo</div>
    </div>
</div>